<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SingleViewApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.singleview</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>$MinimumOSVersion</string>
	<key>UIDeviceFamily</key>
	<array>
<!--#if (UseUniversal || UseIPhone)
		<integer>1</integer>
#endif-->
<!--#if (UseUniversal || UseIPad)
		<integer>2</integer>
#endif-->
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
<!--#if (UseUniversal || UseIPhone)
	<key>UISupportedInterfaceOrientations</key>
#else
	<key>UISupportedInterfaceOrientations~ipad</key>
#endif-->
	<array>
		<string>UIInterfaceOrientationPortrait</string>
<!--#if (!UseIPhone)
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
#endif-->
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
